*{
    margin: 0;
    padding: 0;
    
}


/* move to top button  */


#myBtn {
  width: 4%;
  height: 8%;
  display: none;
  position: fixed;
  bottom: 20%;
  right: 3px;
  z-index: 99;
  font-size: 80px;
  border: none;
  outline: none;
  color: transparent;
  cursor: pointer;
  padding: 1px;
  border-radius: 4px;
  background-color: white;
}
body{
    background-color: #000;
}

#myBtn > img{
  height: 80%;
  width: 80%;
 
}


#slideShow_top{
  /* width: 83%; */
  margin: auto;
  height: 410px;
  cursor: pointer;
  width: 70%;
  margin-top: 100px;
}
#slideShow_top {
 background-image: url();
}
#path{
  margin-left: 40% ;
  margin-top: 15px ; 
  margin-bottom: 40px ;   
}

/* main div */
#Home_div {
    width: 90%;
    margin: auto;
  }

  #slider_container_div {
    width: 100%;
    height: 327px;
    position: relative;
    z-index: -1;
    overflow: hidden;

    margin-bottom: 30px;
  }

  #slider_bag,
  .slider_bag {
    width: 1000%;
    height: 100%;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.75s ease;
  }

  #slider_container_div .slideBox {
    height: 100%;
    float: left;
  }
  #slider_container_div .slideBox p {
    line-height: 20px;
    color: #000;
  }
  #slider_container_div .slideBox a {
    text-decoration: none;
  }
   .slideBox > a > div > img {
    height: 85%;
    width: 70%;
  }

  .slideBox {
    /* height:70%;
 width:57%; */
    margin: 0 -80px;
  }
  #slider_bag > div,
  .slider_bag > div {
    margin-left: 5px;
  }

  #slider_bag > div:nth-child(1),
  .slider_bag > div:nth-child(1) {
    margin-left: 0;
  }

  #slider_container_div .btn {
    position: absolute;
    top: 40%;
    color: rgb(221, 219, 219);
    text-decoration: none;
    padding-left: 5px;
    background: none;
    border: none;
    cursor: pointer;
  }

  #next,
  #next2 {
    right: 0;
  }

  #prev:hover,
  #next:hover,
  #prev2:hover,
  #next2:hover {
    color: rgb(192, 192, 192);
  }
